<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Thinknear</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">

    <link href="/static/app.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />
    <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.4/leaflet-geocoder-mapzen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.9.4/leaflet-geocoder-mapzen.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="/static/semantic/dist/components/dropdown.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/components/dropdown.min.css">

    <style>

        /* For Visualize Button div */
        #fixed-button {
            position: fixed;
            width: 310px;
            height: 50px;
            background-color: white;
            bottom: 0;
            padding-top: 20px;
            padding-bottom: 60px;
        }

        /* For Right-Side Toolbar */
        #toolbar {
            padding-bottom: 70px;
        }

        /* For Visualize Button */
        #visualize-button { background-color: #FFC72C; }
        #visualize-button:hover { background-color: #FBAD2C; }
        #visualize-button:active { background-color: #EC9124; }

        /* For Filter Select Dropdowns */
        .ui.filter {
            width: 300px;
            margin-bottom: 0;
        }

        /* For Geocoder Text Input */
        .leaflet-pelias-input {
            font-size: 14px;
            letter-spacing: 0;
            text-transform: inherit;
        }

        /* For Geocoder Input Box */
        .leaflet-pelias-expanded {
            width: 350px;
        }

        .toolbar-section-title {
            font-size: 18px;
            font-weight: bold;
            padding-top: 0;
            margin-bottom:4px;
        }

        .toolbar-section-title-description {
            font-size: 12px;
            padding-bottom: 8px;
            color: gray;
        }

    </style>

    <script>
        var map;
        var cartoUserName = 'thinknear-services';

        function init(){
            map = new L.Map('map', {
                center: [39.833333, -98.583333],
                zoom: 4,
                zoomControl: false
            });

            L.control.geocoder('mapzen-XagouUC', {
                focus: true,
                placeholder: 'Find your target regions, e.g. city, county, state...',
                position: 'topright',
                params: {
                    sources: 'whosonfirst',
                    'boundary.country': 'USA'
                },
                expanded: true
            }).addTo(map);

            new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);

            var basemap = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                attribution: '&copy;<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                             '&copy;<a href="http://cartodb.com/attributions">CARTO</a>'
            }).addTo(map);

            var shapeClicked = {};

            function onShapeClick(map, shapesLayer) {

                /* Leaflet JS Stylings */
                var onClickShapeCSS = {
                    fillColor: '#ABADAF',
                    fillOpacity: 0.5,
                    color: '#ABADAF',
                    opacity: 0.6,
                    weight: 1
                };

                /*
                 Using Leaflet JS GeoJSON API methods to replace highlighted shapes
                 perform faster than Carto's SubLayer and Layers
                 */
                function featureClick(e, pos, latlng, data) {
                    if (shapeClicked.cartodb_id !== data.cartodb_id) {
                        var sql = new cartodb.SQL({ user: cartoUserName, format: 'geojson' });
                        sql.execute("SELECT cartodb_id, the_geom FROM esri_block_group_shapes_simplified_demo_indexed " +
                                    "WHERE cartodb_id = " + data.cartodb_id).done(function(geojson) {
                            if (geojson.features.length > 0) {
                                var features = geojson.features[0];
                                var clickedGeometryLayer = L.GeoJSON.geometryToLayer(features.geometry);
                                clickedGeometryLayer.setStyle(onClickShapeCSS);

                                removeCurrentShapeClickedLayer();
                                shapeClicked = { cartodb_id: data.cartodb_id, geometry: clickedGeometryLayer };
                                map.addLayer(clickedGeometryLayer);
                            }
                        });
                    }
                }

                function removeCurrentShapeClickedLayer() {
                    if (Object.keys(shapeClicked).length !== 0){
                        map.removeLayer(shapeClicked.geometry);
                        shapeClicked = {};
                    }
                }

                shapesLayer.on('featureClick', featureClick);
                shapesLayer.setInteraction(true);
            }

            cartodb.createLayer(map,{
                user_name: cartoUserName,
                type: 'carto',
                sublayers: [
                    {
                        sql: 'SELECT * FROM esri_block_group_shapes_simplified_demo_indexed WHERE cartodb_id < 0',
                        cartocss: '#layer { polygon-fill: blue; }'
                    },
                    {
                        sql: 'SELECT * FROM poi_data_buffers_unioned WHERE cartodb_id < 0',
                        cartocss: '#layer { polygon-fill: red; }'
                    }]
            }, { https: true, tooltip: true })
                    .addTo(map)
                    .done(function(layer) {
                              var sublayer = layer.getSubLayer(1);
                              sublayer.setInteractivity('brand_label, width_category');

                              sublayer.setInteraction(true);
                              var testTooltip = layer.leafletMap.viz.addOverlay({
                                  type: 'tooltip',
                                  layer: sublayer,
                                  template: '{% raw %}<div class="cartodb-tooltip-content-wrapper"><h4>{{brand_label}}</h4>' +
                                            '<h3>RADII</h3><h4>{{width_category}}</h4></div>{% endraw %}',
                                  position: 'top|right',
                                  fields: [{brand_label: 'brand_label', width_category: 'width_category'}]
                              });

                              $('body').append(testTooltip.render().el);

                              brandsLayer = layer.getSubLayer(1);

                              shapesLayer = layer.getSubLayer(0),
                                      layer.getSubLayer(0).setInteraction(true),
                                      cdb.vis.Vis.addInfowindow(map, layer.getSubLayer(0),
                                              ['cartodb_id', 'age_category', 'children_category', 'dma', 'ethnicity_category',
                                               'income_category', 'st_abbrev', 'zip'],
                                              { infowindowTemplate: $('#iw_template_2').html() }
                                      );

                              onShapeClick(map, shapesLayer);

                          }).on('error', function(err) {
                                    console.log("an error occured: " + err);
                                });

            $("#button").click(function() {

                $(".ui.input.zip-form").form("validate form");
                if ($(".ui.input.zip-form").hasClass('error')) return;

                var distance = $("#distance").val();
                var brand = $("#brand").val();
                var income = $("#income").val();
                var age = $("#age").val();
                var dma = $("#dma").val();
                var children = $("#children").val();
                var ethnicity = $("#ethnicity").val();
                var state = $("#state").val();
                var zip = $("#zip").val();

                var listSQL = [];

                if (income.length > 0) {
                    var income_sql = "income_category IN ("+ "'" + income.join("'" + ',' + "'") + "')";
                    listSQL.push(income_sql);
                }

                if (age.length > 0) {
                    var age_sql = "age_category IN ("+ "'" + age.join("'" + ',' + "'") + "')";
                    listSQL.push(age_sql);
                }

                if (dma.length > 0) {
                    var dma_sql = "dma IN ("+ "'" + dma.join("'" + ',' + "'") + "')";
                    listSQL.push(dma_sql);
                }

                if (ethnicity.length > 0) {
                    var ethnicity_sql = "ethnicity_category IN ("+ "'" + ethnicity.join("'" + ',' + "'") + "')";
                    listSQL.push(ethnicity_sql);
                }

                if (children.length > 0) {
                    var children_sql = "children_category IN ("+ "'" + children.join("'" + ',' + "'") + "')";
                    listSQL.push(children_sql);
                }

                if (state.length > 0) {
                    var state_sql = "st_abbrev IN ("+ "'" + state.join("'" + ',' + "'") + "')";
                    listSQL.push(state_sql);
                }

                if (zip.length > 0) {
                    var zip_sql = "zip IN ("+ "'" + zip.split(",").join("'" + ',' + "'") + "')";
                    listSQL.push(zip_sql);
                }

                var joinedSQL = listSQL.join(" AND ");

                var brandLegend = brand;
                var colorsLegend = ['#00AFD7', '#E0004D', '#FFC72C', '#F68D2E', '#79C753', '#603CC7'];

                function makeLegend(array) {

                    var list = document.createElement('ul');
                    list.setAttribute("class", "legend-ul");

                    for(var i = 0; i < array.length; i++) {

                        var main = document.getElementById('legend-main');
                        main.setAttribute("style", "display: initial");

                        var span = document.createElement('span');
                        span.setAttribute("class", "legend-circle");
                        span.setAttribute("style", "background-color: " + colorsLegend[i] + "");

                        var item = document.createElement('p');
                        item.setAttribute("class", "legend-text");
                        item.innerHTML = brandLegend[i];

                        list.appendChild(span);
                        list.appendChild(item);

                    }

                    return list;
                }

                var list = document.getElementById('legend-dynamic');
                list.innerHTML = "";
                list.appendChild(makeLegend(brand));

                var $set = $('ul.legend-ul').children();
                for(var i=0, len = $set.length; i < len; i+=2){
                    $set.slice(i, i+2).wrapAll("<li class='legend-list'>");
                }

                function generateWidthCategoriesCartoCSS(distances) {
                    var distancesSorted = distances;
                    distancesSorted.reverse();
                    var finalPoiBuffersCSS = "";
                    var widthCategoryOpacityLegend = [0.4, 0.5, 0.6, 0.7];

                    for (i = 0; i < distancesSorted.length; i++) {
                        var poiBufferCSS = "\
            #layer [ width_category = \"" + distancesSorted[i] + "\"] {\
              polygon-fill: ramp([brand_label], (" + colorsLegend.join(',') + "), ('" + brand.join("','") + "'));\
              polygon-opacity: " + widthCategoryOpacityLegend[i] + ";\
            }\
            #layer::outline [ width_category = \"" + distancesSorted[i] + "\"] {\
              line-width: 1px;\
              line-color: #FFF;\
              line-opacity: 0.5;\
            }";

                        finalPoiBuffersCSS = finalPoiBuffersCSS + poiBufferCSS;

                    }

                    return finalPoiBuffersCSS;
                }

                var defaultShapeCartocss = "\
        #layer {\
          polygon-fill: #ABADAF;\
          opacity: 0.4;\
        }\
        #layer::outline {\
          line-width: 1px;\
          line-color: #ABADAF;\
          line-opacity: 0.6;\
        }";


                if (joinedSQL.length !== 0) {
                    shapesLayer.show();
                    shapesLayer.set({
                        'sql': "SELECT * FROM esri_block_group_shapes_simplified_demo_indexed WHERE " + joinedSQL + "",
                        'cartocss': defaultShapeCartocss
                    });
                    brandsLayer.set({
                        'sql': "SELECT * FROM poi_data_buffers_unioned WHERE width_category IN ("+ "'" +
                               distance.join("'" + ',' + "'") + "') AND brand_label IN ("+ "'" + brand.join("'" + ',' + "'") + "')",
                        'cartocss': generateWidthCategoriesCartoCSS(distance)
                    });

                } else { // No Home Block Group Shapes
                    shapesLayer.hide();
                    brandsLayer.set({
                        'sql': "SELECT * FROM poi_data_buffers_unioned WHERE width_category IN (" + "'" +
                               distance.join("'" + ',' + "'") + "') AND brand_label IN (" + "'" + brand.join("'" + ',' + "'") + "')",
                        'cartocss': generateWidthCategoriesCartoCSS(distance)
                    });
                }
            });
        }

    </script>
</head>

<body onload="init()">

<!-- SIDEBAR -->
<div class='app-title'>
    <h1>Thinknear Campaign Planner</h1>
</div>
<div class='app-menu'>
    <div class='app-icon open button'>
        <nav role="navigation">
            <div id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</div>


<!-- MAP -->

<div class='fullSize' id='map'>
    <div class="legend" id="legend-main" style="display: none;">
        <div class="legend-inner" id="legend-dynamic">
        </div>
    </div>
</div>

<div id='toolbar'>

    <p class="toolbar-section-title">Locations</p>
    <p class="toolbar-section-title-description">Geofencing your point of interest</p>

    <p>Brand</p>

    <select id="brand" class="ui filter multiple search dropdown brand" multiple="">
    </select>

    <br><br>

    <p>Radius</p>

    <select id="distance" class="ui filter multiple search dropdown distance" multiple="">
        <option>500 Meters</option>
        <option>1000 Meters</option>
        <option selected>1 Mile</option>
        <option>3 Miles</option>
        <option>5 Miles</option>
    </select>

    <br><br>

    <p class="toolbar-section-title">Geographic</p>
    <p class="toolbar-section-title-description">Defining the geographic shapes</p>

    <p>DMA</p>

    <select id="dma" class="ui filter multiple search dropdown dma" multiple="">
    </select>

    <br><br>

    <p>State</p>

    <select id="state" class="ui filter multiple search dropdown state" multiple="">
    </select>

    <br><br>

    <p>Zip Code</p>

    <form id="zip-form" class="ui filter text input zip-form">
        <div class="field">
            <input type="text" class="ui filter" id="zip" name="zip" placeholder="enter zip code" />
        </div>
    </form>

    <br><br>

    <p class="toolbar-section-title">Audience</p>
    <p class="toolbar-section-title-description">Targeting home block groups that over-index selected demographics</p>

    <p>Income Range</p>

    <select id="income" class="ui filter multiple search dropdown income" multiple="">
        <option>LOW INCOME</option>
        <option>MEDIUM INCOME</option>
        <option>HIGH INCOME</option>
        <option>NONE</option>
    </select>

    <br><br>

    <p>Age Range</p>

    <select id="age" class="ui filter multiple search dropdown age" multiple="">
        <option>AGE 18-24</option>
        <option>AGE 25-34</option>
        <option>AGE 35-54</option>
        <option>AGE 55 or Greater</option>
        <option>NONE</option>
    </select>

    <br><br>

    <p>Children</p>

    <select id="children" class="ui filter multiple search dropdown children" multiple="">
        <option>Over-Index for Households with Children</option>
        <option>Under-Index for Households With Children</option>
    </select>

    <br><br>

    <p>Ethnicity</p>

    <select id="ethnicity" class="ui filter multiple search dropdown ethnicity" multiple="">
        <option>AFRICAN AMERICAN</option>
        <option>ASIAN</option>
        <option>HISPANIC</option>
        <option>PACIFIC ISLANDER</option>
        <option>WHITE</option>
        <option>NONE</option>
    </select>

    <br><br>

    <div class="ui sidebar inverted vertical menu">
        <p style="color: #fff;">Thinknear</p>
    </div>

    <div class="line" />

    <div id="fixed-button">
        <p id="button" class="button">
            <button id="visualize-button" class="ui primary button btn">
                <a style="color:white;" href="#">VISUALIZE</a>
            </button>
        </p>
    </div>
</div>

<!-- TOOLBAR -->

<script type="infowindow/html" id="iw_template_2">
    <div class="cartodb-popup v2">
      <a href="#close" class="cartodb-popup-close-button close">x</a>
      <div class="cartodb-popup-content">
        <div class="cartodb-popup-content-wrapper">
          {% raw %}
          <p class="title">{{st_abbrev}} - {{zip}}</p>
          <h4>AGE</h4>
            <p>{{age_category}}</p>
          <h4>CHILDREN</h4>
            <p>{{children_category}}</p>
          <h4>INCOME</h4>
            <p>{{income_category}}</p>
          <h4>ETHNICITY</h4>
            <p>{{ethnicity_category}}</p>
          <h4>DMA</h4>
            <p>{{dma}}</p>
          {% endraw %}
        </div>
      </div>
    </div>
    <div class="cartodb-popup-tip-container">
    </div>
  </script>

<script>

    $('.ui.filter.multiple.dropdown.brand').dropdown({
        placeholder: 'search brand name, e.g. Starbucks',
        maxSelections: 6,
        fields: { name: "name", value: "value" },
        apiSettings: {
            cache: false,
            onResponse: function(cartoResponse) {
                return {
                    "success": true,
                    "results": cartoResponse.rows
                };
            },
            url: 'https://thinknear-services.carto.com/api/v2/sql?q=select%20brand_label%20as%20name,%20brand_label%20as' +
                 '%20value%20from%20poi_data_buffers_unioned%20group%20by%20brand_label%20order%20by%20brand_label%20asc'
        },
        saveRemoteData: false,
        filterRemoteData: true,
        dataType: JSON
    });

    $('.ui.filter.multiple.dropdown.distance').dropdown({
        placeholder: 'default to 5 miles',
        maxSelections: 5
    });

    $('.ui.filter.multiple.dropdown.income').dropdown({
        placeholder: 'e.g. medium income',
        maxSelections: 5
    });

    $('.ui.filter.multiple.dropdown.age').dropdown({
        placeholder: 'e.g. 18-24',
        maxSelections: 5
    });

    $('.ui.filter.multiple.dropdown.children').dropdown({
        placeholder: 'e.g. more children',
        maxSelections: 5
    });

    $('.ui.filter.multiple.dropdown.dma').dropdown({
        placeholder: 'search DMA',
        maxSelections: 5,
        fields: { name: "name", value: "value" },
        apiSettings: {
            cache: false,
            onResponse: function(cartoResponse) {
                return {
                    "success": true,
                    "results": cartoResponse.rows
                };
            },
            url: 'https://thinknear-services.carto.com/api/v2/sql?q=SELECT%20dma%20as%20name,%20dma%20as%20value%20from' +
                 '%20esri_block_group_shapes_simplified_demo_indexed%20group%20by%20dma%20order%20by%20dma%20asc'
        },
        saveRemoteData: false,
        filterRemoteData: true,
        dataType: JSON
    });

    $('.ui.filter.multiple.dropdown.ethnicity').dropdown({
        placeholder: 'e.g. white',
        maxSelections: 5,
        fields: { name: "name", value: "value" },
        apiSettings: {
            cache: false,
            onResponse: function(cartoResponse) {
                return {
                    "success": true,
                    "results": cartoResponse.rows
                };

            },
            url: 'https://thinknear-services.carto.com/api/v2/sql?q=SELECT%20ethnicity_category%20as%20name,' +
                 '%20ethnicity_category%20as%20value%20from%20esri_block_group_shapes_simplified_demo_indexed%20group%20by' +
                 '%20ethnicity_category%20order%20by%20ethnicity_category%20asc'
        },
        saveRemoteData: false,
        filterRemoteData: true,
        dataType: JSON
    });

    $('.ui.filter.multiple.dropdown.state').dropdown({
        placeholder: 'search state',
        maxSelections: 5,
        fields: { name: "name", value: "value" },
        apiSettings: {
            cache: false,
            onResponse: function(cartoResponse) {
                return {
                    "success": true,
                    "results": cartoResponse.rows
                };
            },
            url: 'https://thinknear-services.carto.com/api/v2/sql?q=SELECT%20st_abbrev%20as%20name,%20st_abbrev%20as%20value' +
                 '%20from%20esri_block_group_shapes_simplified_demo_indexed%20group%20by%20st_abbrev%20order%20by%20st_abbrev%20asc'
        },
        saveRemoteData: false,
        filterRemoteData: true,
        dataType: JSON
    });

    $('.ui.filter.text.input.zip-form').form({
        inline: true,
        fields: {
            zip: {
                identifier: 'zip',
                rules: [
                    {
                        type: 'regExp[/(^$|^(\\d{5})(,\\d{5})*)$/]',
                        prompt: 'Field must be 5-digit zip codes delimited by commas'
                    }
                ]
            }
        }
    });

    $('.ui.sidebar').sidebar({
        dimPage: false,
        transition: 'push'
    });

    $('.ui.sidebar').sidebar('attach events', '.open.button');

</script>
</body>
</html>
